#topbar > .right{
  display: none;
}

#topbar > .left{
  display: none;
}


.subtoolbar{
  display: none;
}

.options_link{
  display: none;
}

.panestack-title{
  display: none;
}

.commentarea > form{
  display: none;
}

.thumbnail > img{
  display: none;
}


/*Now, let's style our button*/

#customBackButton {
    position: absolute;
    right: 10px;
    bottom: 1px;
    z-index: 3;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(#6699FF, #0052CC);
    /*background: linear-gradient(red, blue);*/
    text-align: center;
    color: white;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor:pointer;
}